<div class="base-box">
    <div class="header-logo"><img src="images/logo.png"></div>
    <ul class="header-navbar">
        <li class="item"><a href="javascript:;">首页</a></li>
        <li class="item active">
           <a href="javascript:;">解决方案</a>
           <div class="navbar-float-1 navbar-float">
               <i></i>
               <ul class="line">
                  <h3>行业解决方案</h3>
                   <li><a href="jiu.html">酒类解决方案</a></li>
                   <li><a href="">饮品解决方案</a></li>
                   <li><a href="">零食解决方案</a></li>
                   <li><a href="">农产品解决方案</a></li>
                   <li><a href="#">生鲜解决方案</a></li>
                   <li><a href="#">日化品解决方案</a></li>
               </ul>
               <ul class="line">
                  <h3>需求解决方案</h3>
                   <li><a href="">促销解决方案</a></li>
                   <li><a href="">流量解决方案</a></li>
                   <li><a href="">大数据解决方案</a></li>
                   <li><a href="">微商城解决方案</a></li>
                   <li><a href="">积分解决方案</a></li>
               </ul>
               <ul class="line-img">
                  <img src="images/1.jpg" alt="">
               </ul>
           </div>
        </li>
        <li class="item">
           <a href="javascript:;">产品及服务</a>
           <div class="navbar-float-2 navbar-float">
               <i></i>
               <ul class="line">
                  <h3>产品</h3>
                   <li><a href="jiu.html">纳宝码介绍</a></li>
                   <li><a href="">解决方案</a></li>
                   <li><a href="">SCRM</a></li>
                   <li><a href="">客户案例</a></li>
               </ul>
               <ul class="line">
                  <h3>服务</h3>
                   <li><a href="">一条龙营销策划</a></li>
                   <li><a href="">产品使用培训</a></li>
                   <li><a href="">数据分析培训</a></li>
                   <li><a href="">7x12客服服务</a></li>
                   <li><a href="">帮助中心</a></li>
               </ul>
               <ul class="line-img">
                  <img src="images/1.jpg" alt="">
               </ul>
           </div>
        </li>
        <li class="item">
           <a href="javascript:;">优势与技术</a>
           <div class="navbar-float-3 navbar-float">
               <i></i>
               <ul class="line">
                  <h3>优势</h3>
                   <li><a href="">奖品资源</a></li>
                   <li><a href="">用户画像</a></li>
                   <li><a href="">作战热力图</a></li>
                   <li><a href="">资金安全2.0</a></li>
               </ul>
               <ul class="line">
                  <h3>技术</h3>
                   <li><a href="">服务器安全</a></li>
                   <li><a href="">数据安全2.0</a></li>
                   <li><a href="">资金安全2.0</a></li>
                   <li><a href="">大数据分析</a></li>
                   <li><a href="#">系统升级播报</a></li>
               </ul>
               <ul class="line">
                  <h3>赋码</h3>
                   <li><a href="">不干胶</a></li>
                   <li><a href="">卡片</a></li>
                   <li><a href="">包装箱</a></li>
                   <li><a href="">包装袋子</a></li>
                   <li><a href="#">易拉罐</a></li>
                   <li><a href="#">瓶身标签</a></li>
                   <li><a href="#">Banner</a></li>
               </ul>
               <ul class="line-img">
                  <img src="images/1.jpg" alt="">
               </ul>
           </div>
        </li>
        <li class="item"><a href="javascript:;">客户案例</a> </li>
        <li class="item"><a href="javascript:;">渠道加盟</a></li>
        <li class="item"><a href="javascript:;">资料库</a></li>
        <li class="item"><a href="javascript:;">关于纳宝</a> </li>
    </ul>
    <div class="login_entry"><a href="" class="login"><i class="pic pic-18"></i>企业登录</a></div>
</div>
