<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<title>关于我们</title>
	<link rel="stylesheet" href="css/app.min.css">
</head>
<body>
	<!-- header -->
	<% include compontens/header.ejs %>
	<div class="box-banner about-banner"></div>
	<div class="about-content">
		<h3><span>关于纳宝科技</span></h3>
		<div class="about-content-text">
		   <div class="about-content-info">
			   	<p>成都纳宝科技有限公司成立于2014年，由多名互联网行业资深人士共同组建。
	           团队自主研发并提供一整套的二维码管理系统，在深入了解“互联网+传统
	企业”不同场景下的业务需求，提供一系列基于“一物一码”的商业运营解决方案和
	相关定制开发服务。以成熟、可靠、易扩展的平台架构及功能组件，快速实现不
	同行业的二次开发和功能定制。 </p>
	      <p>当前纳宝主要为企业提供基于“一物一码”的防伪、防窜、溯源，兑奖营销等基
	础服务，兼具大数据分析、作战沙盘等增值服务，在传统企业与消费者之间构建
	起有效连接，帮助企业快速动销、节省营销费用、掌控终端，更能帮助企业实现
	精准营销、二次营销，快速提升销量。</p>
	      <p>2015年，纳宝科技开始为众多企业提供相关服务，现已成功应用于酒类、饮料、
	烟草、食品、化妆品等众多领域，逐步进入快速发展阶段。</p>
		   </div>
			<div class="about-text-img"> <img src="images/1.png" alt="公司办公室" class="about-text-img"></div>
		</div>
	</div>
	<% include compontens/rocket.ejs %>
	<% include compontens/footer.ejs %>
</body>
</html>
