<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <title>合作流程</title>
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/app.min.css">
</head>
<body>
	<!-- header -->
	<% include compontens/header.ejs %>
	<div class="case-bannerCarousel">
		<div class="swiper-container">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide">
	            	<div class="bannerCarousel-img"><img src="images/10.png"></div>
	            	<div class="bannerCarousel-txt">
	            		<h3>成都佳享食品有限公司</h3>
	            		<p>佳享食品是中国西部最大的肉制品精深加工及储运外销为一体的股份制出口型企业。
在激烈的行业竞争下，佳享食品坚持锐意进取、不断创新，如今已成长为农业产业化
国家重点龙头企业，全国主食加工示范企业。如今在”互联网+“的趋势影响下，佳享食
品果断与我司达成合作，率先迈上”互联网+传统企业“的转型之路。</p>
						<h3>企业需求</h3>
						<p>1、通过防伪溯源等手段，维护企业绿色、健康、安全的品牌形象。<br>
							2、行业竞争激烈，急需提升渠道销售业绩，改善线下营销状况。<br>
							3、亟需了解终端消费群体特征、市场渠道布局，把握市场真实反馈。
						</p>
						<h3>实现功能</h3>
						<p>防伪溯源，兑奖营销，大数据分析，作战沙盘</p>
						<h3>二维码数量</h3>
						<p>2,000,000</p>
						<h3>服务效果</h3>
						<p>1、终端消费者参与率高达61.2%。<br>2、为企业节省至少70%的营销费用。       <br>3、平均每月业绩较以往增长高达31.6%。 <br>  4、掌握了超492,364名的重度消费者相关数据。</p>
	            	</div>
	            </div>
	            <div class="swiper-slide">
	            	<div class="bannerCarousel-img"><img src="images/11.png"></div>
	            	<div class="bannerCarousel-txt">
	            		<h3>北京华色酒香品牌管理有限公司</h3>
	            		<p>华色股份是一家专注于北虫草养生健康产品的研发、生产、销售为一体的股份制公司。
下设4个子公司，总资产逾2.5亿。华色酒香作为华色股份主推新品，品质优良，市场
认可度较高。为快速打开市场格局，提升市场份额，企业与我司合作，借助”互联网+”
的优势技术，走上快速发展的道路。</p>
						<h3>企业需求</h3>
						<p>11、解决行业普遍关注的产品防伪、渠道防窜问题。<br>
2、提升线下营销力度，结合线上微营销，扩大新品知名度，提升销量。<br>
3、快速积累并掌握终端消费者信息，建立CRM客户关系管理系统。

						</p>
						<h3>实现功能</h3>
						<p>防伪溯源，兑奖营销，大数据分析，作战沙盘</p>
						<h3>二维码数量</h3>
						<p>300,000</p>
						<h3>服务效果</h3>
						<p>1、为企业节省至少90%的营销费用，有效实现防伪防窜。<br>      
2、平均每月业绩较以往增长高达27.6%，销量快速提升。 <br>
3、收获大批微信粉丝，积累了超71,743名的忠实消费者数据。
</p>
	            	</div>
	            </div>
	            <div class="swiper-slide">
	            	<div class="bannerCarousel-img"><img src="images/12.png"></div>
	            	<div class="bannerCarousel-txt">
	            		<h3>成都隆誉盛兴贸易有限公司</h3>
	            		<p>成都隆誉盛兴是一家专注于养生健康产品的研发、生产、销售为一体的股份制公司。
旗下拥有包括阿胶固元膏、虫草、松茸、藏红花等多种养生产品。为促进”美人媛“牌
阿胶固元膏销量进一步提升，提升促销力度，配合线上微营销。企业与我司签订了长
期密切合作。</p>
						<h3>企业需求</h3>
						<p>1、便捷实现防伪、溯源功能，塑造绿色、安全的品牌形象。<br>
2、提升营销力度，防止营销费用截留。<br>
3、结合线上微营销，了解市场需求，拉近与终端消费者的距离。

						</p>
						<h3>实现功能</h3>
						<p>防伪溯源，兑奖营销 </p>
						<h3>二维码数量</h3>
						<p>60,000</p>
						<h3>服务效果</h3>
						<p>1、便捷实现了防伪、防窜功能，有效维护品牌形象。<br>
2、企业收获了超17,832粉丝，节省营销费用约95%。      <br>
3、产品销量全面提升，月均业绩增长达45.7%。
</p>
	            	</div>
	            </div>
	        </div>
	        <!-- Add Pagination -->
	        <div class="swiper-pagination"></div>
	        <!-- Add Arrows -->
	        <div class="swiper-button-next"></div>
	        <div class="swiper-button-prev"></div>
	    </div>
	</div>
	<div class="case-show">
		<h3><span>其他合作伙伴</span></h3>
		<ul>
			<li>
				<img src="images/p7.png">
				<span>迎酒</span>
				<div>“好酒出四川，精华在宜宾”，承三千年传统酿酒技艺，集五粮之精华，成就宜宾”迎酒”香气悠久、绵柔醇厚的优异品质。</div>
			</li>
			<li>
				<img src="images/p5.png">
				<span>水井坊</span>
				<div>元末明初，水井街酒坊引岷江水，前庭当垆，后庭酿酒。水井街酒坊坚守原产地域，据守锦城繁华。水井坊•第一坊，致敬源远流长的中国文化。</div>
			</li>
			<li>
				<img src="images/p8.png">
				<span>竹黄金</span>
				<div>传承中国千百年竹文化之底蕴，结合四川丰富的竹资源，采用竹筒、竹叶、竹汁经科学配方与传统工艺相结合，创新研发系列竹文化生态绿色健康食品。</div>
			</li>
			<li>
				<img src="images/p6.png">
				<span>纤履挑一</span>
				<div>全国首家O2O女鞋商城，集购物、社交、娱乐为一体。为中国女性消费者提供品质最优，价格最低的商品及最佳购物体验。</div>
			</li>
			<li>
				<img src="images/p1.png">
				<span>牛佛蜂蜜</span>
				<div> 自贡市牛佛养蜂专业合作社是在国家重视农业，关心蜂农、农产品直销的法律政策支持下组建。现有养蜂成员12户，拥有蜜蜂2000群，年产油菜花、茴香、洋槐花等蜂蜜200吨。</div>
			</li>
			<li>
				<img src="images/p2.png">
				<span>川红</span>
				<div>四川省农业产业化经营重点龙头企业，四川省非物质文化遗产川红工夫红茶制作技艺，国家民族特需产品定点生产企业。川红茶，心无暇。</div>
			</li>
			<li>
				<img src="images/p4.png">
				<span>皇城老妈</span>
				<div>世家风范，传统老号。皇城老妈出自四川，根植成都，在传承中不断演绎成都火锅的饮食文化，成都火锅的体验窗口和代表性符号。</div>
			</li>
			<li>
				<img src="images/p3.png">
				<span>川渝中烟</span>
				<div>全国烟草行业第一家跨省组建的工业公司，坚持中式卷烟发展方向，始终强化自主创新。取得了“复合生物综合减害”、“减缓烟气对呼吸系统危害”、“纳米技术研究”等多项突破性科技成果，减害水平世界领先。</div>
			</li>
		</ul>
	</div>
	<% include compontens/slidenavbar.ejs %>
	<% include compontens/footer.ejs %>
	<script src="js/swiper.min.js"></script>
	<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        spaceBetween: 30,
        effect: 'fade'
    });
    </script>
</body>
</html>