<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <title>合作流程</title>
    <link rel="stylesheet" href="css/app.min.css">
</head>
<body>
	<!-- header -->
	<% include compontens/header.ejs %>
	<div class="databank">
		<div class="databank-box">
			<ul>
				<li>
					<a href="dataBankInfo.html">
						<img src="images/1.png">
						<h3>一物一码强化营销，引爆快消品行业O2O一物一码强化营销，引爆快消品行业O2O一物一码强化营销，引爆快消品行业O2O</h3>
						<div class="sub-title"><span><i class="iconfont">&#xe604;</i>3084</span><span class="time">2016-01-15</span></div>
						<p class="databank-box-cot">
							随着各类移动平台的功能越来越强大，二维码的应用和适用场景越来越广泛，曾经像梦一样的移动互联网，已变成身边的日常事。O2O从...
						</p>
						<span class="databank-box-more">更多</span>
					</a>
				</li>
				<li>
					<a href="dataBankInfo.html">
						<img src="images/1.png">
						<h3>一物一码强化营销，引爆快消品行业O2O</h3>
						<div class="sub-title"><span><i class="iconfont">&#xe604;</i>3084</span><span class="time">2016-01-15</span></div>
						<p class="databank-box-cot">
							随着各类移动平台的功能越来越强大，二维码的应用和适用场景越来越广泛，曾经像梦一样的移动互联网，已变成身边的日常事。O2O从...
						</p>
						<span class="databank-box-more">更多</span>
					</a>
				</li>
				<li>
					<a href="dataBankInfo.html">
						<img src="images/1.png">
						<h3>一物一码强化营销，引爆快消品行业O2O</h3>
						<div class="sub-title"><span><i class="iconfont">&#xe604;</i>3084</span><span class="time">2016-01-15</span></div>
						<p class="databank-box-cot">
							随着各类移动平台的功能越来越强大，二维码的应用和适用场景越来越广泛，曾经像梦一样的移动互联网，已变成身边的日常事。O2O从...
						</p>
						<span class="databank-box-more">更多</span>
					</a>
				</li>
				<li>
					<a href="dataBankInfo.html">
						<img src="images/1.png">
						<h3>一物一码强化营销，引爆快消品行业O2O</h3>
						<div class="sub-title"><span><i class="iconfont">&#xe604;</i>3084</span><span class="time">2016-01-15</span></div>
						<p class="databank-box-cot">
							随着各类移动平台的功能越来越强大，二维码的应用和适用场景越来越广泛，曾经像梦一样的移动互联网，已变成身边的日常事。O2O从...
						</p>
						<span class="databank-box-more">更多</span>
					</a>
				</li>
				<li>
					<a href="dataBankInfo.html">
						<img src="images/1.png">
						<h3>一物一码强化营销，引爆快消品行业O2O</h3>
						<div class="sub-title"><span><i class="iconfont">&#xe604;</i>3084</span><span class="time">2016-01-15</span></div>
						<p class="databank-box-cot">
							随着各类移动平台的功能越来越强大，二维码的应用和适用场景越来越广泛，曾经像梦一样的移动互联网，已变成身边的日常事。O2O从...
						</p>
						<span class="databank-box-more">更多</span>
					</a>
				</li>
				<li>
					<a href="dataBankInfo.html">
						<img src="images/1.png">
						<h3>一物一码强化营销，引爆快消品行业O2O</h3>
						<div class="sub-title"><span><i class="iconfont">&#xe604;</i>3084</span><span class="time">2016-01-15</span></div>
						<p class="databank-box-cot">
							随着各类移动平台的功能越来越强大，二维码的应用和适用场景越来越广泛，曾经像梦一样的移动互联网，已变成身边的日常事。O2O从...
						</p>
						<span class="databank-box-more">更多</span>
					</a>
				</li>
				<li>
					<a href="dataBankInfo.html">
						<img src="images/1.png">
						<h3>一物一码强化营销，引爆快消品行业O2O</h3>
						<div class="sub-title"><span><i class="iconfont">&#xe604;</i>3084</span><span class="time">2016-01-15</span></div>
						<p class="databank-box-cot">
							随着各类移动平台的功能越来越强大，二维码的应用和适用场景越来越广泛，曾经像梦一样的移动互联网，已变成身边的日常事。O2O从...
						</p>
						<span class="databank-box-more">更多</span>
					</a>
				</li>
				<li>
					<a href="dataBankInfo.html">
						<img src="images/1.png">
						<h3>一物一码强化营销，引爆快消品行业O2O</h3>
						<div class="sub-title"><span><i class="iconfont">&#xe604;</i>3084</span><span class="time">2016-01-15</span></div>
						<p class="databank-box-cot">
							随着各类移动平台的功能越来越强大，二维码的应用和适用场景越来越广泛，曾经像梦一样的移动互联网，已变成身边的日常事。O2O从...
						</p>
						<span class="databank-box-more">更多</span>
					</a>
				</li>
			</ul>
			<a href="" class="fypage">下一页 <i class="iconfont">&#xe607;</i></a>
		</div>
	</div>
	<% include compontens/slidenavbar.ejs %>
	<% include compontens/footer.ejs %>
</body>
</html>