<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <title>合作流程</title>
    <link rel="stylesheet" href="css/app.min.css">
</head>
<body>
	<!-- header -->
	<% include compontens/header.ejs %>
	<div class="databank" style="padding-bottom: 0">
		<div class="databankInfo" >
			<h3>一物一码强化营销，引爆快消品行业O2O</h3>
			<p class="sub-author">O2O，一物一码，快消品 <span>2016-01-15</span></p>
			<div class="databankInfo-txt">
				
			</div>
		</div>	
	</div>
	<% include compontens/slidenavbar.ejs %>
	<% include compontens/footer.ejs %>
</body>
</html>