<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <title>合作流程</title>
    <link rel="stylesheet" href="css/app.min.css">
</head>
<body>
	<!-- header -->
	<% include compontens/header.ejs %>
	<div class="process">
		<div class="process-topbanner">
			<h3>企业全面提升</h3>
			<span class="ani-txt-1"><i>1</i>销量提升30%</span>
            <span class="ani-txt-2"><i>2</i>提高品牌价值</span>
            <span class="ani-txt-3"><i>3</i>提高品牌估值</span>
            <span class="ani-txt-4"><i>4</i>增加政府对企业的信任</span>
		</div>
		<div class="process-box">
			<div class="process-1">
				<span class="span-1">1</span>
				<span class="span-2">2</span>
			</div>
			<div class="process-2">
				<span>3</span>
			</div>
			<div class="process-3">
				<span>4</span>
			</div>
		</div>
		
	</div>
	<% include compontens/slidenavbar.ejs %>
	<% include compontens/footer.ejs %>
</body>
</html>