@charset 'utf-8';

$header-line-height: 65px;

.header {
	@extend %clearfix;
	position: absolute;;
	z-index: 999;
	top: 0;
	left: 0;

	width: 100%;
	height: 80px;
	transition: all 0.3s ease-out
}

.header-show {
	background-color: #195479;
	position: fixed;
}

.header-logo {
	float: left;
	padding-top: 10px;
	color: #58caff;
	font-weight: bold;
}

.header-navbar {
	float: left;
	padding: 0;
	margin: 0 0 0 50px;

	.item {
		position: relative;
		z-index: 999;
		float: left;
		display: block;
		box-sizing: border-box;
		list-style: none;
		height: $header-line-height;
		padding: 0 10px;
		margin: 5px 15px 0;
		line-height: $header-line-height;
	}

	a {
		color: white;
		text-decoration: none;
	}

	.active {
		border-bottom: 3px solid white;
	}
}

.login_entry {
	float: right;
	margin-top: 8px;
	line-height: $header-line-height;

	.login {
		color: white;
		text-decoration: none;
	}

	i {
		display: inline-block;
		vertical-align: -8px;
		margin-right: 5px;
	}
}
