<div class="meteor-shower">
    <div class="meteorShower meteorShower-left" style="left: -22%;">
        <div class="meteorShower-1 meteorShower-star" style=" animation-delay: 1200ms; animation-duration: 2850ms;"></div>
    </div>
    <div class="meteorShower meteorShower-left" style="left: -10%;">
        <div class="meteorShower-1 meteorShower-star" style=" animation-delay: 3800ms; animation-duration: 2450ms;"></div>
    </div>
    <div class="meteorShower meteorShower-left" style="left: 22%;">
        <div class="meteorShower-2 meteorShower-star" style=" animation-delay: 3150ms; animation-duration: 1950ms;"></div>
    </div>
    <div class="meteorShower meteorShower-left" style="left: 46%;">
        <div class="meteorShower-3 meteorShower-star" style=" animation-delay: 7450ms; animation-duration: 2600ms;"></div>
    </div>
    <div class="meteorShower meteorShower-left" style="left: 60%;">
        <div class="meteorShower-3 meteorShower-star" style=" animation-delay: 1450ms; animation-duration: 1900ms;"></div>
    </div>
    <div class="meteorShower meteorShower-left" style="left: 75%;">
        <div class="meteorShower-3 meteorShower-star" style=" animation-delay: 450ms; animation-duration: 2200ms;"></div>
    </div>
    <div class="meteorShower meteorShower-left" style="left: 67%;">
        <div class="meteorShower-3 meteorShower-star" style=" animation-delay: 450ms; animation-duration: 4550ms;"></div>
    </div>
    <div class="meteorShower meteorShower-left" style="right: 86%;">
        <div class="meteorShower-3 meteorShower-star" style=" animation-delay: 3500ms; animation-duration: 5000ms;"></div>
    </div>
</div>
