<div class="sliderRocket">
	<div class="rocketFloat">
		<div class="rocket"></div>
	</div>
	<ul class="sliderRocket-navbar">
	    <li><a href="javascript:;">
	            <i class="iconfont telphoneIcon">&#xe602;</i>
	            <div>
	                <span class="icon-tel-float">
	                    <small>全国统一热线</small>
	                    <font>028-85121928</font>
	                </span>
	            </div>
	        </a>
	    </li>
	    <li>
	        <a href="javascript:;">
	            <i class="iconfont">&#xe600;</i>
	            <div>
	                <span class="icon-qq-float">QQ在线交谈</span>
	            </div>
	        </a>
	    </li>
<!-- 	    <li>
	        <a href="javascript:;">
	            <i class="iconfont">&#xe605;</i>
	            <div>
	                <span class="icon-kf-float">联系客服</span>
	            </div>
	        </a>
	    </li> -->
	    <li>
	        <a href="javascript:;">
	            <i class="iconfont">&#xe603;</i>
	            <div>
	                <span class="icon-ewm-float"></span>
	            </div>
	        </a>
	    </li>
<!-- 	    <li id="backTop">
	        <a href="javascript:;"><i class="iconfont">&#xe601;</i></a>
	    </li> -->
	</ul>
</div>