@charset 'utf-8';
@import 'base/normalize';
@import 'helpers/fontColor';
@import 'helpers/var';
@import 'components/backgroundtransparent';
@import 'components/clearfix';
@import 'layout/header';
@import 'layout/navbar-float';
@import 'layout/footer';
@import 'sprite/sprites';
@import 'views/index';
@import 'views/list';
@import 'vendors/style';


body {
	min-width: 1200px;
	padding-top: 80px;
	font-family: 'Microsoft yahei';
}

.icon {
	display: inline-block;
}

a {
	transition: all 0.5s;
}

.base-box {
	@extend %clearfix;

	width: 1200px;
	margin: 0 auto;
}
