/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$addcompany-name: 'addcompany';
$addcompany-x: 1239px;
$addcompany-y: 379px;
$addcompany-offset-x: -1239px;
$addcompany-offset-y: -379px;
$addcompany-width: 64px;
$addcompany-height: 64px;
$addcompany-total-width: 1304px;
$addcompany-total-height: 1150px;
$addcompany-image: '../images/sprite.png';
$addcompany: (1239px, 379px, -1239px, -379px, 64px, 64px, 1304px, 1150px, '../images/sprite.png', 'addcompany', );
$arrows-name: 'arrows';
$arrows-x: 145px;
$arrows-y: 907px;
$arrows-offset-x: -145px;
$arrows-offset-y: -907px;
$arrows-width: 229px;
$arrows-height: 48px;
$arrows-total-width: 1304px;
$arrows-total-height: 1150px;
$arrows-image: '../images/sprite.png';
$arrows: (145px, 907px, -145px, -907px, 229px, 48px, 1304px, 1150px, '../images/sprite.png', 'arrows', );
$bigdate-hover-name: 'bigdate-hover';
$bigdate-hover-x: 1096px;
$bigdate-hover-y: 434px;
$bigdate-hover-offset-x: -1096px;
$bigdate-hover-offset-y: -434px;
$bigdate-hover-width: 112px;
$bigdate-hover-height: 92px;
$bigdate-hover-total-width: 1304px;
$bigdate-hover-total-height: 1150px;
$bigdate-hover-image: '../images/sprite.png';
$bigdate-hover: (1096px, 434px, -1096px, -434px, 112px, 92px, 1304px, 1150px, '../images/sprite.png', 'bigdate-hover', );
$bigdate-name: 'bigdate';
$bigdate-x: 0px;
$bigdate-y: 1052px;
$bigdate-offset-x: 0px;
$bigdate-offset-y: -1052px;
$bigdate-width: 118px;
$bigdate-height: 98px;
$bigdate-total-width: 1304px;
$bigdate-total-height: 1150px;
$bigdate-image: '../images/sprite.png';
$bigdate: (0px, 1052px, 0px, -1052px, 118px, 98px, 1304px, 1150px, '../images/sprite.png', 'bigdate', );
$company-name: 'company';
$company-x: 1239px;
$company-y: 473px;
$company-offset-x: -1239px;
$company-offset-y: -473px;
$company-width: 60px;
$company-height: 65px;
$company-total-width: 1304px;
$company-total-height: 1150px;
$company-image: '../images/sprite.png';
$company: (1239px, 473px, -1239px, -473px, 60px, 65px, 1304px, 1150px, '../images/sprite.png', 'company', );
$dreamteam-name: 'dreamteam';
$dreamteam-x: 1096px;
$dreamteam-y: 763px;
$dreamteam-offset-x: -1096px;
$dreamteam-offset-y: -763px;
$dreamteam-width: 104px;
$dreamteam-height: 66px;
$dreamteam-total-width: 1304px;
$dreamteam-total-height: 1150px;
$dreamteam-image: '../images/sprite.png';
$dreamteam: (1096px, 763px, -1096px, -763px, 104px, 66px, 1304px, 1150px, '../images/sprite.png', 'dreamteam', );
$food-hover-name: 'food-hover';
$food-hover-x: 0px;
$food-hover-y: 748px;
$food-hover-offset-x: 0px;
$food-hover-offset-y: -748px;
$food-hover-width: 128px;
$food-hover-height: 129px;
$food-hover-total-width: 1304px;
$food-hover-total-height: 1150px;
$food-hover-image: '../images/sprite.png';
$food-hover: (0px, 748px, 0px, -748px, 128px, 129px, 1304px, 1150px, '../images/sprite.png', 'food-hover', );
$food-name: 'food';
$food-x: 760px;
$food-y: 534px;
$food-offset-x: -760px;
$food-offset-y: -534px;
$food-width: 128px;
$food-height: 129px;
$food-total-width: 1304px;
$food-total-height: 1150px;
$food-image: '../images/sprite.png';
$food: (760px, 534px, -760px, -534px, 128px, 129px, 1304px, 1150px, '../images/sprite.png', 'food', );
$fwsy-hover-name: 'fwsy-hover';
$fwsy-hover-x: 1096px;
$fwsy-hover-y: 289px;
$fwsy-hover-offset-x: -1096px;
$fwsy-hover-offset-y: -289px;
$fwsy-hover-width: 100px;
$fwsy-hover-height: 115px;
$fwsy-hover-total-width: 1304px;
$fwsy-hover-total-height: 1150px;
$fwsy-hover-image: '../images/sprite.png';
$fwsy-hover: (1096px, 289px, -1096px, -289px, 100px, 115px, 1304px, 1150px, '../images/sprite.png', 'fwsy-hover', );
$fwsy-name: 'fwsy';
$fwsy-x: 1096px;
$fwsy-y: 141px;
$fwsy-offset-x: -1096px;
$fwsy-offset-y: -141px;
$fwsy-width: 102px;
$fwsy-height: 118px;
$fwsy-total-width: 1304px;
$fwsy-total-height: 1150px;
$fwsy-image: '../images/sprite.png';
$fwsy: (1096px, 141px, -1096px, -141px, 102px, 118px, 1304px, 1150px, '../images/sprite.png', 'fwsy', );
$icon1-name: 'icon1';
$icon1-x: 1239px;
$icon1-y: 910px;
$icon1-offset-x: -1239px;
$icon1-offset-y: -910px;
$icon1-width: 31px;
$icon1-height: 27px;
$icon1-total-width: 1304px;
$icon1-total-height: 1150px;
$icon1-image: '../images/sprite.png';
$icon1: (1239px, 910px, -1239px, -910px, 31px, 27px, 1304px, 1150px, '../images/sprite.png', 'icon1', );
$icon10-hover-name: 'icon10-hover';
$icon10-hover-x: 190px;
$icon10-hover-y: 0px;
$icon10-hover-offset-x: -190px;
$icon10-hover-offset-y: 0px;
$icon10-hover-width: 160px;
$icon10-hover-height: 160px;
$icon10-hover-total-width: 1304px;
$icon10-hover-total-height: 1150px;
$icon10-hover-image: '../images/sprite.png';
$icon10-hover: (190px, 0px, -190px, 0px, 160px, 160px, 1304px, 1150px, '../images/sprite.png', 'icon10-hover', );
$icon10-name: 'icon10';
$icon10-x: 0px;
$icon10-y: 190px;
$icon10-offset-x: 0px;
$icon10-offset-y: -190px;
$icon10-width: 160px;
$icon10-height: 160px;
$icon10-total-width: 1304px;
$icon10-total-height: 1150px;
$icon10-image: '../images/sprite.png';
$icon10: (0px, 190px, 0px, -190px, 160px, 160px, 1304px, 1150px, '../images/sprite.png', 'icon10', );
$icon11-hover-name: 'icon11-hover';
$icon11-hover-x: 190px;
$icon11-hover-y: 190px;
$icon11-hover-offset-x: -190px;
$icon11-hover-offset-y: -190px;
$icon11-hover-width: 160px;
$icon11-hover-height: 160px;
$icon11-hover-total-width: 1304px;
$icon11-hover-total-height: 1150px;
$icon11-hover-image: '../images/sprite.png';
$icon11-hover: (190px, 190px, -190px, -190px, 160px, 160px, 1304px, 1150px, '../images/sprite.png', 'icon11-hover', );
$icon11-name: 'icon11';
$icon11-x: 380px;
$icon11-y: 0px;
$icon11-offset-x: -380px;
$icon11-offset-y: 0px;
$icon11-width: 160px;
$icon11-height: 160px;
$icon11-total-width: 1304px;
$icon11-total-height: 1150px;
$icon11-image: '../images/sprite.png';
$icon11: (380px, 0px, -380px, 0px, 160px, 160px, 1304px, 1150px, '../images/sprite.png', 'icon11', );
$icon12-hover-name: 'icon12-hover';
$icon12-hover-x: 380px;
$icon12-hover-y: 190px;
$icon12-hover-offset-x: -380px;
$icon12-hover-offset-y: -190px;
$icon12-hover-width: 160px;
$icon12-hover-height: 160px;
$icon12-hover-total-width: 1304px;
$icon12-hover-total-height: 1150px;
$icon12-hover-image: '../images/sprite.png';
$icon12-hover: (380px, 190px, -380px, -190px, 160px, 160px, 1304px, 1150px, '../images/sprite.png', 'icon12-hover', );
$icon12-name: 'icon12';
$icon12-x: 0px;
$icon12-y: 0px;
$icon12-offset-x: 0px;
$icon12-offset-y: 0px;
$icon12-width: 160px;
$icon12-height: 160px;
$icon12-total-width: 1304px;
$icon12-total-height: 1150px;
$icon12-image: '../images/sprite.png';
$icon12: (0px, 0px, 0px, 0px, 160px, 160px, 1304px, 1150px, '../images/sprite.png', 'icon12', );
$icon13-hover-name: 'icon13-hover';
$icon13-hover-x: 0px;
$icon13-hover-y: 380px;
$icon13-hover-offset-x: 0px;
$icon13-hover-offset-y: -380px;
$icon13-hover-width: 160px;
$icon13-hover-height: 160px;
$icon13-hover-total-width: 1304px;
$icon13-hover-total-height: 1150px;
$icon13-hover-image: '../images/sprite.png';
$icon13-hover: (0px, 380px, 0px, -380px, 160px, 160px, 1304px, 1150px, '../images/sprite.png', 'icon13-hover', );
$icon13-name: 'icon13';
$icon13-x: 190px;
$icon13-y: 380px;
$icon13-offset-x: -190px;
$icon13-offset-y: -380px;
$icon13-width: 160px;
$icon13-height: 160px;
$icon13-total-width: 1304px;
$icon13-total-height: 1150px;
$icon13-image: '../images/sprite.png';
$icon13: (190px, 380px, -190px, -380px, 160px, 160px, 1304px, 1150px, '../images/sprite.png', 'icon13', );
$icon14-hover-name: 'icon14-hover';
$icon14-hover-x: 380px;
$icon14-hover-y: 380px;
$icon14-hover-offset-x: -380px;
$icon14-hover-offset-y: -380px;
$icon14-hover-width: 160px;
$icon14-hover-height: 160px;
$icon14-hover-total-width: 1304px;
$icon14-hover-total-height: 1150px;
$icon14-hover-image: '../images/sprite.png';
$icon14-hover: (380px, 380px, -380px, -380px, 160px, 160px, 1304px, 1150px, '../images/sprite.png', 'icon14-hover', );
$icon14-name: 'icon14';
$icon14-x: 570px;
$icon14-y: 0px;
$icon14-offset-x: -570px;
$icon14-offset-y: 0px;
$icon14-width: 160px;
$icon14-height: 160px;
$icon14-total-width: 1304px;
$icon14-total-height: 1150px;
$icon14-image: '../images/sprite.png';
$icon14: (570px, 0px, -570px, 0px, 160px, 160px, 1304px, 1150px, '../images/sprite.png', 'icon14', );
$icon2-name: 'icon2';
$icon2-x: 1239px;
$icon2-y: 1083px;
$icon2-offset-x: -1239px;
$icon2-offset-y: -1083px;
$icon2-width: 28px;
$icon2-height: 27px;
$icon2-total-width: 1304px;
$icon2-total-height: 1150px;
$icon2-image: '../images/sprite.png';
$icon2: (1239px, 1083px, -1239px, -1083px, 28px, 27px, 1304px, 1150px, '../images/sprite.png', 'icon2', );
$icon20-name: 'icon20';
$icon20-x: 505px;
$icon20-y: 1052px;
$icon20-offset-x: -505px;
$icon20-offset-y: -1052px;
$icon20-width: 71px;
$icon20-height: 65px;
$icon20-total-width: 1304px;
$icon20-total-height: 1150px;
$icon20-image: '../images/sprite.png';
$icon20: (505px, 1052px, -505px, -1052px, 71px, 65px, 1304px, 1150px, '../images/sprite.png', 'icon20', );
$icon21-name: 'icon21';
$icon21-x: 1239px;
$icon21-y: 754px;
$icon21-offset-x: -1239px;
$icon21-offset-y: -754px;
$icon21-width: 50px;
$icon21-height: 68px;
$icon21-total-width: 1304px;
$icon21-total-height: 1150px;
$icon21-image: '../images/sprite.png';
$icon21: (1239px, 754px, -1239px, -754px, 50px, 68px, 1304px, 1150px, '../images/sprite.png', 'icon21', );
$icon22-name: 'icon22';
$icon22-x: 404px;
$icon22-y: 1052px;
$icon22-offset-x: -404px;
$icon22-offset-y: -1052px;
$icon22-width: 71px;
$icon22-height: 68px;
$icon22-total-width: 1304px;
$icon22-total-height: 1150px;
$icon22-image: '../images/sprite.png';
$icon22: (404px, 1052px, -404px, -1052px, 71px, 68px, 1304px, 1150px, '../images/sprite.png', 'icon22', );
$icon23-name: 'icon23';
$icon23-x: 1239px;
$icon23-y: 663px;
$icon23-offset-x: -1239px;
$icon23-offset-y: -663px;
$icon23-width: 61px;
$icon23-height: 61px;
$icon23-total-width: 1304px;
$icon23-total-height: 1150px;
$icon23-image: '../images/sprite.png';
$icon23: (1239px, 663px, -1239px, -663px, 61px, 61px, 1304px, 1150px, '../images/sprite.png', 'icon23', );
$icon24-name: 'icon24';
$icon24-x: 1239px;
$icon24-y: 0px;
$icon24-offset-x: -1239px;
$icon24-offset-y: 0px;
$icon24-width: 65px;
$icon24-height: 65px;
$icon24-total-width: 1304px;
$icon24-total-height: 1150px;
$icon24-image: '../images/sprite.png';
$icon24: (1239px, 0px, -1239px, 0px, 65px, 65px, 1304px, 1150px, '../images/sprite.png', 'icon24', );
$icon25-name: 'icon25';
$icon25-x: 606px;
$icon25-y: 1052px;
$icon25-offset-x: -606px;
$icon25-offset-y: -1052px;
$icon25-width: 70px;
$icon25-height: 62px;
$icon25-total-width: 1304px;
$icon25-total-height: 1150px;
$icon25-image: '../images/sprite.png';
$icon25: (606px, 1052px, -606px, -1052px, 70px, 62px, 1304px, 1150px, '../images/sprite.png', 'icon25', );
$icon3-name: 'icon3';
$icon3-x: 1153px;
$icon3-y: 971px;
$icon3-offset-x: -1153px;
$icon3-offset-y: -971px;
$icon3-width: 25px;
$icon3-height: 27px;
$icon3-total-width: 1304px;
$icon3-total-height: 1150px;
$icon3-image: '../images/sprite.png';
$icon3: (1153px, 971px, -1153px, -971px, 25px, 27px, 1304px, 1150px, '../images/sprite.png', 'icon3', );
$icon30-name: 'icon30';
$icon30-x: 1096px;
$icon30-y: 859px;
$icon30-offset-x: -1096px;
$icon30-offset-y: -859px;
$icon30-width: 82px;
$icon30-height: 82px;
$icon30-total-width: 1304px;
$icon30-total-height: 1150px;
$icon30-image: '../images/sprite.png';
$icon30: (1096px, 859px, -1096px, -859px, 82px, 82px, 1304px, 1150px, '../images/sprite.png', 'icon30', );
$icon31-name: 'icon31';
$icon31-x: 294px;
$icon31-y: 1052px;
$icon31-offset-x: -294px;
$icon31-offset-y: -1052px;
$icon31-width: 80px;
$icon31-height: 80px;
$icon31-total-width: 1304px;
$icon31-total-height: 1150px;
$icon31-image: '../images/sprite.png';
$icon31: (294px, 1052px, -294px, -1052px, 80px, 80px, 1304px, 1150px, '../images/sprite.png', 'icon31', );
$icon32-name: 'icon32';
$icon32-x: 1096px;
$icon32-y: 556px;
$icon32-offset-x: -1096px;
$icon32-offset-y: -556px;
$icon32-width: 99px;
$icon32-height: 81px;
$icon32-total-width: 1304px;
$icon32-total-height: 1150px;
$icon32-image: '../images/sprite.png';
$icon32: (1096px, 556px, -1096px, -556px, 99px, 81px, 1304px, 1150px, '../images/sprite.png', 'icon32', );
$icon4-name: 'icon4';
$icon4-x: 1239px;
$icon4-y: 852px;
$icon4-offset-x: -1239px;
$icon4-offset-y: -852px;
$icon4-width: 30px;
$icon4-height: 28px;
$icon4-total-width: 1304px;
$icon4-total-height: 1150px;
$icon4-image: '../images/sprite.png';
$icon4: (1239px, 852px, -1239px, -852px, 30px, 28px, 1304px, 1150px, '../images/sprite.png', 'icon4', );
$icon40-name: 'icon40';
$icon40-x: 1096px;
$icon40-y: 667px;
$icon40-offset-x: -1096px;
$icon40-offset-y: -667px;
$icon40-width: 104px;
$icon40-height: 66px;
$icon40-total-width: 1304px;
$icon40-total-height: 1150px;
$icon40-image: '../images/sprite.png';
$icon40: (1096px, 667px, -1096px, -667px, 104px, 66px, 1304px, 1150px, '../images/sprite.png', 'icon40', );
$icon41-name: 'icon41';
$icon41-x: 1239px;
$icon41-y: 568px;
$icon41-offset-x: -1239px;
$icon41-offset-y: -568px;
$icon41-width: 60px;
$icon41-height: 65px;
$icon41-total-width: 1304px;
$icon41-total-height: 1150px;
$icon41-image: '../images/sprite.png';
$icon41: (1239px, 568px, -1239px, -568px, 60px, 65px, 1304px, 1150px, '../images/sprite.png', 'icon41', );
$icon42-name: 'icon42';
$icon42-x: 1239px;
$icon42-y: 285px;
$icon42-offset-x: -1239px;
$icon42-offset-y: -285px;
$icon42-width: 64px;
$icon42-height: 64px;
$icon42-total-width: 1304px;
$icon42-total-height: 1150px;
$icon42-image: '../images/sprite.png';
$icon42: (1239px, 285px, -1239px, -285px, 64px, 64px, 1304px, 1150px, '../images/sprite.png', 'icon42', );
$icon43-name: 'icon43';
$icon43-x: 1239px;
$icon43-y: 95px;
$icon43-offset-x: -1239px;
$icon43-offset-y: -95px;
$icon43-width: 64px;
$icon43-height: 65px;
$icon43-total-width: 1304px;
$icon43-total-height: 1150px;
$icon43-image: '../images/sprite.png';
$icon43: (1239px, 95px, -1239px, -95px, 64px, 65px, 1304px, 1150px, '../images/sprite.png', 'icon43', );
$icon5-name: 'icon5';
$icon5-x: 1096px;
$icon5-y: 971px;
$icon5-offset-x: -1096px;
$icon5-offset-y: -971px;
$icon5-width: 27px;
$icon5-height: 27px;
$icon5-total-width: 1304px;
$icon5-total-height: 1150px;
$icon5-image: '../images/sprite.png';
$icon5: (1096px, 971px, -1096px, -971px, 27px, 27px, 1304px, 1150px, '../images/sprite.png', 'icon5', );
$jingzhun-hover-name: 'jingzhun-hover';
$jingzhun-hover-x: 1096px;
$jingzhun-hover-y: 0px;
$jingzhun-hover-offset-x: -1096px;
$jingzhun-hover-offset-y: 0px;
$jingzhun-hover-width: 113px;
$jingzhun-hover-height: 111px;
$jingzhun-hover-total-width: 1304px;
$jingzhun-hover-total-height: 1150px;
$jingzhun-hover-image: '../images/sprite.png';
$jingzhun-hover: (1096px, 0px, -1096px, 0px, 113px, 111px, 1304px, 1150px, '../images/sprite.png', 'jingzhun-hover', );
$jingzhun-name: 'jingzhun';
$jingzhun-x: 790px;
$jingzhun-y: 748px;
$jingzhun-offset-x: -790px;
$jingzhun-offset-y: -748px;
$jingzhun-width: 118px;
$jingzhun-height: 116px;
$jingzhun-total-width: 1304px;
$jingzhun-total-height: 1150px;
$jingzhun-image: '../images/sprite.png';
$jingzhun: (790px, 748px, -790px, -748px, 118px, 116px, 1304px, 1150px, '../images/sprite.png', 'jingzhun', );
$lianjie-hover-name: 'lianjie-hover';
$lianjie-hover-x: 570px;
$lianjie-hover-y: 368px;
$lianjie-hover-offset-x: -570px;
$lianjie-hover-offset-y: -368px;
$lianjie-hover-width: 148px;
$lianjie-hover-height: 148px;
$lianjie-hover-total-width: 1304px;
$lianjie-hover-total-height: 1150px;
$lianjie-hover-image: '../images/sprite.png';
$lianjie-hover: (570px, 368px, -570px, -368px, 148px, 148px, 1304px, 1150px, '../images/sprite.png', 'lianjie-hover', );
$lianjie-name: 'lianjie';
$lianjie-x: 0px;
$lianjie-y: 570px;
$lianjie-offset-x: 0px;
$lianjie-offset-y: -570px;
$lianjie-width: 148px;
$lianjie-height: 148px;
$lianjie-total-width: 1304px;
$lianjie-total-height: 1150px;
$lianjie-image: '../images/sprite.png';
$lianjie: (0px, 570px, 0px, -570px, 148px, 148px, 1304px, 1150px, '../images/sprite.png', 'lianjie', );
$liquor-hover-name: 'liquor-hover';
$liquor-hover-x: 632px;
$liquor-hover-y: 748px;
$liquor-hover-offset-x: -632px;
$liquor-hover-offset-y: -748px;
$liquor-hover-width: 128px;
$liquor-hover-height: 128px;
$liquor-hover-total-width: 1304px;
$liquor-hover-total-height: 1150px;
$liquor-hover-image: '../images/sprite.png';
$liquor-hover: (632px, 748px, -632px, -748px, 128px, 128px, 1304px, 1150px, '../images/sprite.png', 'liquor-hover', );
$liquor-name: 'liquor';
$liquor-x: 316px;
$liquor-y: 748px;
$liquor-offset-x: -316px;
$liquor-offset-y: -748px;
$liquor-width: 128px;
$liquor-height: 128px;
$liquor-total-width: 1304px;
$liquor-total-height: 1150px;
$liquor-image: '../images/sprite.png';
$liquor: (316px, 748px, -316px, -748px, 128px, 128px, 1304px, 1150px, '../images/sprite.png', 'liquor', );
$liuliang-hover-name: 'liuliang-hover';
$liuliang-hover-x: 148px;
$liuliang-hover-y: 1052px;
$liuliang-hover-offset-x: -148px;
$liuliang-hover-offset-y: -1052px;
$liuliang-hover-width: 116px;
$liuliang-hover-height: 95px;
$liuliang-hover-total-width: 1304px;
$liuliang-hover-total-height: 1150px;
$liuliang-hover-image: '../images/sprite.png';
$liuliang-hover: (148px, 1052px, -148px, -1052px, 116px, 95px, 1304px, 1150px, '../images/sprite.png', 'liuliang-hover', );
$liuliang-name: 'liuliang';
$liuliang-x: 938px;
$liuliang-y: 780px;
$liuliang-offset-x: -938px;
$liuliang-offset-y: -780px;
$liuliang-width: 118px;
$liuliang-height: 97px;
$liuliang-total-width: 1304px;
$liuliang-total-height: 1150px;
$liuliang-image: '../images/sprite.png';
$liuliang: (938px, 780px, -938px, -780px, 118px, 97px, 1304px, 1150px, '../images/sprite.png', 'liuliang', );
$login-name: 'login';
$login-x: 1239px;
$login-y: 1025px;
$login-offset-x: -1239px;
$login-offset-y: -1025px;
$login-width: 28px;
$login-height: 28px;
$login-total-width: 1304px;
$login-total-height: 1150px;
$login-image: '../images/sprite.png';
$login: (1239px, 1025px, -1239px, -1025px, 28px, 28px, 1304px, 1150px, '../images/sprite.png', 'login', );
$nong-hover-name: 'nong-hover';
$nong-hover-x: 938px;
$nong-hover-y: 158px;
$nong-hover-offset-x: -938px;
$nong-hover-offset-y: -158px;
$nong-hover-width: 128px;
$nong-hover-height: 128px;
$nong-hover-total-width: 1304px;
$nong-hover-total-height: 1150px;
$nong-hover-image: '../images/sprite.png';
$nong-hover: (938px, 158px, -938px, -158px, 128px, 128px, 1304px, 1150px, '../images/sprite.png', 'nong-hover', );
$nong-name: 'nong';
$nong-x: 938px;
$nong-y: 0px;
$nong-offset-x: -938px;
$nong-offset-y: 0px;
$nong-width: 128px;
$nong-height: 128px;
$nong-total-width: 1304px;
$nong-total-height: 1150px;
$nong-image: '../images/sprite.png';
$nong: (938px, 0px, -938px, 0px, 128px, 128px, 1304px, 1150px, '../images/sprite.png', 'nong', );
$p1-name: 'p1';
$p1-x: 570px;
$p1-y: 190px;
$p1-offset-x: -570px;
$p1-offset-y: -190px;
$p1-width: 148px;
$p1-height: 148px;
$p1-total-width: 1304px;
$p1-total-height: 1150px;
$p1-image: '../images/sprite.png';
$p1: (570px, 190px, -570px, -190px, 148px, 148px, 1304px, 1150px, '../images/sprite.png', 'p1', );
$pic-18-name: 'pic-18';
$pic-18-x: 1239px;
$pic-18-y: 967px;
$pic-18-offset-x: -1239px;
$pic-18-offset-y: -967px;
$pic-18-width: 28px;
$pic-18-height: 28px;
$pic-18-total-width: 1304px;
$pic-18-total-height: 1150px;
$pic-18-image: '../images/sprite.png';
$pic-18: (1239px, 967px, -1239px, -967px, 28px, 28px, 1304px, 1150px, '../images/sprite.png', 'pic-18', );
$pic-19-name: 'pic-19';
$pic-19-x: 1239px;
$pic-19-y: 1140px;
$pic-19-offset-x: -1239px;
$pic-19-offset-y: -1140px;
$pic-19-width: 12px;
$pic-19-height: 8px;
$pic-19-total-width: 1304px;
$pic-19-total-height: 1150px;
$pic-19-image: '../images/sprite.png';
$pic-19: (1239px, 1140px, -1239px, -1140px, 12px, 8px, 1304px, 1150px, '../images/sprite.png', 'pic-19', );
$qrcode-name: 'qrcode';
$qrcode-x: 1239px;
$qrcode-y: 190px;
$qrcode-offset-x: -1239px;
$qrcode-offset-y: -190px;
$qrcode-width: 64px;
$qrcode-height: 65px;
$qrcode-total-width: 1304px;
$qrcode-total-height: 1150px;
$qrcode-image: '../images/sprite.png';
$qrcode: (1239px, 190px, -1239px, -190px, 64px, 65px, 1304px, 1150px, '../images/sprite.png', 'qrcode', );
$quanmiantisheng-hover-name: 'quanmiantisheng-hover';
$quanmiantisheng-hover-x: 760px;
$quanmiantisheng-hover-y: 356px;
$quanmiantisheng-hover-offset-x: -760px;
$quanmiantisheng-hover-offset-y: -356px;
$quanmiantisheng-hover-width: 148px;
$quanmiantisheng-hover-height: 148px;
$quanmiantisheng-hover-total-width: 1304px;
$quanmiantisheng-hover-total-height: 1150px;
$quanmiantisheng-hover-image: '../images/sprite.png';
$quanmiantisheng-hover: (760px, 356px, -760px, -356px, 148px, 148px, 1304px, 1150px, '../images/sprite.png', 'quanmiantisheng-hover', );
$quanmiantisheng-name: 'quanmiantisheng';
$quanmiantisheng-x: 356px;
$quanmiantisheng-y: 570px;
$quanmiantisheng-offset-x: -356px;
$quanmiantisheng-offset-y: -570px;
$quanmiantisheng-width: 148px;
$quanmiantisheng-height: 148px;
$quanmiantisheng-total-width: 1304px;
$quanmiantisheng-total-height: 1150px;
$quanmiantisheng-image: '../images/sprite.png';
$quanmiantisheng: (356px, 570px, -356px, -570px, 148px, 148px, 1304px, 1150px, '../images/sprite.png', 'quanmiantisheng', );
$rihua-hover-name: 'rihua-hover';
$rihua-hover-x: 938px;
$rihua-hover-y: 474px;
$rihua-hover-offset-x: -938px;
$rihua-hover-offset-y: -474px;
$rihua-hover-width: 128px;
$rihua-hover-height: 128px;
$rihua-hover-total-width: 1304px;
$rihua-hover-total-height: 1150px;
$rihua-hover-image: '../images/sprite.png';
$rihua-hover: (938px, 474px, -938px, -474px, 128px, 128px, 1304px, 1150px, '../images/sprite.png', 'rihua-hover', );
$rihua-name: 'rihua';
$rihua-x: 938px;
$rihua-y: 316px;
$rihua-offset-x: -938px;
$rihua-offset-y: -316px;
$rihua-width: 128px;
$rihua-height: 128px;
$rihua-total-width: 1304px;
$rihua-total-height: 1150px;
$rihua-image: '../images/sprite.png';
$rihua: (938px, 316px, -938px, -316px, 128px, 128px, 1304px, 1150px, '../images/sprite.png', 'rihua', );
$sale-hover-name: 'sale-hover';
$sale-hover-x: 0px;
$sale-hover-y: 907px;
$sale-hover-offset-x: 0px;
$sale-hover-offset-y: -907px;
$sale-hover-width: 115px;
$sale-hover-height: 115px;
$sale-hover-total-width: 1304px;
$sale-hover-total-height: 1150px;
$sale-hover-image: '../images/sprite.png';
$sale-hover: (0px, 907px, 0px, -907px, 115px, 115px, 1304px, 1150px, '../images/sprite.png', 'sale-hover', );
$sale-name: 'sale';
$sale-x: 938px;
$sale-y: 632px;
$sale-offset-x: -938px;
$sale-offset-y: -632px;
$sale-width: 118px;
$sale-height: 118px;
$sale-total-width: 1304px;
$sale-total-height: 1150px;
$sale-image: '../images/sprite.png';
$sale: (938px, 632px, -938px, -632px, 118px, 118px, 1304px, 1150px, '../images/sprite.png', 'sale', );
$shenfenzheng-hover-name: 'shenfenzheng-hover';
$shenfenzheng-hover-x: 760px;
$shenfenzheng-hover-y: 178px;
$shenfenzheng-hover-offset-x: -760px;
$shenfenzheng-hover-offset-y: -178px;
$shenfenzheng-hover-width: 148px;
$shenfenzheng-hover-height: 148px;
$shenfenzheng-hover-total-width: 1304px;
$shenfenzheng-hover-total-height: 1150px;
$shenfenzheng-hover-image: '../images/sprite.png';
$shenfenzheng-hover: (760px, 178px, -760px, -178px, 148px, 148px, 1304px, 1150px, '../images/sprite.png', 'shenfenzheng-hover', );
$shenfenzheng-name: 'shenfenzheng';
$shenfenzheng-x: 760px;
$shenfenzheng-y: 0px;
$shenfenzheng-offset-x: -760px;
$shenfenzheng-offset-y: 0px;
$shenfenzheng-width: 148px;
$shenfenzheng-height: 148px;
$shenfenzheng-total-width: 1304px;
$shenfenzheng-total-height: 1150px;
$shenfenzheng-image: '../images/sprite.png';
$shenfenzheng: (760px, 0px, -760px, 0px, 148px, 148px, 1304px, 1150px, '../images/sprite.png', 'shenfenzheng', );
$shujutu-hover-name: 'shujutu-hover';
$shujutu-hover-x: 534px;
$shujutu-hover-y: 570px;
$shujutu-hover-offset-x: -534px;
$shujutu-hover-offset-y: -570px;
$shujutu-hover-width: 148px;
$shujutu-hover-height: 148px;
$shujutu-hover-total-width: 1304px;
$shujutu-hover-total-height: 1150px;
$shujutu-hover-image: '../images/sprite.png';
$shujutu-hover: (534px, 570px, -534px, -570px, 148px, 148px, 1304px, 1150px, '../images/sprite.png', 'shujutu-hover', );
$shujutu-name: 'shujutu';
$shujutu-x: 178px;
$shujutu-y: 570px;
$shujutu-offset-x: -178px;
$shujutu-offset-y: -570px;
$shujutu-width: 148px;
$shujutu-height: 148px;
$shujutu-total-width: 1304px;
$shujutu-total-height: 1150px;
$shujutu-image: '../images/sprite.png';
$shujutu: (178px, 570px, -178px, -570px, 148px, 148px, 1304px, 1150px, '../images/sprite.png', 'shujutu', );
$water-hover-name: 'water-hover';
$water-hover-x: 158px;
$water-hover-y: 748px;
$water-hover-offset-x: -158px;
$water-hover-offset-y: -748px;
$water-hover-width: 128px;
$water-hover-height: 128px;
$water-hover-total-width: 1304px;
$water-hover-total-height: 1150px;
$water-hover-image: '../images/sprite.png';
$water-hover: (158px, 748px, -158px, -748px, 128px, 128px, 1304px, 1150px, '../images/sprite.png', 'water-hover', );
$water-name: 'water';
$water-x: 474px;
$water-y: 748px;
$water-offset-x: -474px;
$water-offset-y: -748px;
$water-width: 128px;
$water-height: 128px;
$water-total-width: 1304px;
$water-total-height: 1150px;
$water-image: '../images/sprite.png';
$water: (474px, 748px, -474px, -748px, 128px, 128px, 1304px, 1150px, '../images/sprite.png', 'water', );
$spritesheet-width: 1304px;
$spritesheet-height: 1150px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($addcompany, $arrows, $bigdate-hover, $bigdate, $company, $dreamteam, $food-hover, $food, $fwsy-hover, $fwsy, $icon1, $icon10-hover, $icon10, $icon11-hover, $icon11, $icon12-hover, $icon12, $icon13-hover, $icon13, $icon14-hover, $icon14, $icon2, $icon20, $icon21, $icon22, $icon23, $icon24, $icon25, $icon3, $icon30, $icon31, $icon32, $icon4, $icon40, $icon41, $icon42, $icon43, $icon5, $jingzhun-hover, $jingzhun, $lianjie-hover, $lianjie, $liquor-hover, $liquor, $liuliang-hover, $liuliang, $login, $nong-hover, $nong, $p1, $pic-18, $pic-19, $qrcode, $quanmiantisheng-hover, $quanmiantisheng, $rihua-hover, $rihua, $sale-hover, $sale, $shenfenzheng-hover, $shenfenzheng, $shujutu-hover, $shujutu, $water-hover, $water, );
$spritesheet: (1304px, 1150px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
