<menu class="quanwei-footer-navbar">
    <a href="product.html" class="col-lg-6"><i class="iconfont icon-2chanpinzhanshieps"></i>产品展示</a>
    <a href="qjjs.html" class="col-lg-6"><i class="iconfont icon-company_quality"></i>企业介绍</a>
</menu>
