// author: Princeraul
// email: suliangprinceraul@gmail.com
// time: 2016-09-14

@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.eot?t=1471600183');
	src: url('../fonts/iconfont.eot?t=1471600183#iefix') format('embedded-opentype'),
	url('../fonts/iconfont.woff?t=1471600183') format('woff'),
	url('../fonts/iconfont.ttf?t=1471600183') format('truetype'),
	url( '../fonts/iconfont.svg?t=1471600183#iconfont') format('svg');
}
