<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <title>纳宝科技官网2.0 demo测试版</title>
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
   <!-- nabao header -->
  <div class="header header-show">
     <div class="base-box">
        <div class="header-logo"><img src="images/logo.png"></div>
        <ul class="header-navbar">
           <li class="item"><a href="javascript:;">首页</a></li>
           <li class="item active"><a href="javascript:;">解决方案</a></li>
           <li class="item">
              <a href="javascript:;">产品及服务</a>
              <div class="navbar-float-1 navbar-float">
                 <i></i>
                 <ul class="line">
                    <h3>产品</h3>
                    <li><a href="jiu.html">纳宝码介绍</a></li>
                    <li><a href="">解决方案</a></li>
                    <li><a href="">SCRM</a></li>
                    <li><a href="">客户案例</a></li>
                 </ul>
                 <ul class="line">
                    <h3>服务</h3>
                    <li><a href="">一条龙营销策划</a></li>
                    <li><a href="">产品使用培训</a></li>
                    <li><a href="">数据分析培训</a></li>
                    <li><a href="">7x12客服服务</a></li>
                    <li><a href="">帮助中心</a></li>
                 </ul>
                 <ul class="line-img">
                    <img src="images/1.jpg" alt="">
                 </ul>
              </div>
           </li>
           <li class="item"><a href="javascript:;">优势与技术</a></li>
           <li class="item">
              <a href="javascript:;">客户案例</a>
              <div class="navbar-float-2 navbar-float">
                 <i></i>
                 <ul>
                    <li>&bull;&nbsp;<a href="">酒类解决方案</a></li>
                    <li>&bull;&nbsp;<a href="">饮料解决方案</a></li>
                    <li>&bull;&nbsp;<a href="">食品解决方案</a></li>
                 </ul>
              </div>
           </li>
           <li class="item">
              <a href="javascript:;">渠道加盟</a>
              <div class="navbar-float-2 navbar-float">
                 <i></i>
                 <ul>
                    <li>&bull;&nbsp;<a href="">酒类解决方案</a></li>
                    <li>&bull;&nbsp;<a href="">饮料解决方案</a></li>
                    <li>&bull;&nbsp;<a href="">食品解决方案</a></li>
                 </ul>
              </div>
           </li>
           <li class="item">
              <a href="javascript:;">资料库</a>
              <div class="navbar-float-2 navbar-float">
                 <i></i>
                 <ul>
                    <li>&bull;&nbsp;<a href="">酒类解决方案</a></li>
                    <li>&bull;&nbsp;<a href="">饮料解决方案</a></li>
                    <li>&bull;&nbsp;<a href="">食品解决方案</a></li>
                 </ul>
              </div>
           </li>
           <li class="item">
              <a href="javascript:;">关于纳宝</a>
              <div class="navbar-float-4 navbar-float">
                 <i></i>
                 <ul>
                    <li>&bull;&nbsp;<a href="">酒类解决方案</a></li>
                    <li>&bull;&nbsp;<a href="">饮料解决方案</a></li>
                    <li>&bull;&nbsp;<a href="">食品解决方案</a></li>
                 </ul>
              </div>
           </li>
        </ul>
        <div class="login_entry"><a href="" class="login"><i class="pic pic-18"></i>企业登录</a></div>
     </div>

     <!-- content -->
     <div class="base-content">
       <div class="base-box">
           <div class="crumbs">优势与技术 > 附码</div>
           <div class="base-cot-content">
             <div class="cot-hd">
               <h3>不干胶式附码</h3>

               <img src="images/p21.jpg" alt="">
               <div class="btn">
                  <h6>spanddd</h6>
               </div>
               <h4>适用产品：</h4>
               <p class="t1">不干胶标签由基础标签内容和可变二维码信息两部分组成，可采用贴标设备或人工的方式贴附于产品外部，协助企业进行品牌营销等活动。</p>
               <h4>适用产品：</h4>
               <p class="t1">香烟、白酒、饮料、休闲食品、日化用品、农产品等。</p>
               <h4>防盗扫解决方式：</h4>
               <p class="t1">（防止产品在售出之前，被非购买者扫码领走奖品。）<br?
1、在二维码之上覆盖一层刮刮涂层，刮开才可扫码。<br>
2、标签贴于产品外包装内，打开包装方可扫码。<br>
3、标签贴于产品外包装，产品包装内部喷印唯一抽奖验证码。<br>
4、纳宝系统智能处理，通过技术手段实现多维度扫码数据监管，精准监测单个扫码者扫码动态及单个二维码被扫信息，<br>
并可设置单人扫码限制，二维码启用抽奖次数、有期扫码时间等限制。</p>
            </div>
           </div>
           <div class="base-cot-navbar">
              <span data-name="togglebar">瓶盖附码<i></i></span>
              <div class="togglebar">
                 <a href="" class="odd active">塑料瓶盖</a>
                 <a href="" class="even">白酒-铝盖</a>
                 <a href="" class="odd">啤酒-皇冠盖</a>
                 <a href="" class="even">罐头-马口铁瓶盖</a>
                 <a href="" class="odd">不干胶附码</a>
              </div>

              <a href="#">包装箱附码</a>
              <a href="#">软包装附码</a>
              <a href="#">易拉罐包装附码</a>
              <a href="#">瓶身标签附码</a>
           </div>
       </div>
     </div>

    <!-- naba copyRight footer -->
    <div class="footer">
        <div class="base-box">
            <div class="footer-telphone">
                <span class="span1">
                    全国统一热线电话
                    <font>400-800-9888</font>
                </span>
                <span>
                    24小时合作加盟热线
                    <font>152-2899-4698</font>
                </span>
            </div>
            <ul class="footer-navbar">
                <li><a href="">首页</a>|</li
                ><li><a href="">二维码产品与服务</a>|</li
                ><li><a href="">核心优势</a>|</li
                ><li><a href="">实时销量</a>|</li
                ><li><a href="">客户案例</a>|</li
                ><li><a href="">合作加盟</a>|</li
                ><li><a href="">资料库</a>|</li
                ><li><a href="">关于纳宝</a></li>
            </ul>
            <div class="footer-address">公司地址：成都市高新区天府大道天府三街新希望国际C座20楼</div>
            <div class="footer-copyright">
                川ICP备12005794号 | 川ICP证130311号 | 川公网安备110102001221号 2015-2018  Nabao.me<br>服务条款    隐私政策
                </div>
        </div>
    </div>
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/slides.min.js"></script>
    <script src="js/common.min.js"></script>
</body>
</html>
