<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<title>纳宝科技官网2.0 demo测试版</title>
	<link rel="stylesheet" href="css/app.css">
</head>

<body>
	<!-- nabao header -->
	<div class="header">
		<% include compontens/headernavbar.ejs %>
	</div>
	<!-- nabao banner scroll -->
	<div class="nabao-scroll">
      <img src="images/banner4.png" alt="">
	</div>

	<!-- nabao 一物一码 -->
	<div class="nabao-screen-one base-box qudao">
		<h3 class="screen-big">产品亮点</h3>
		<h4 class="screen-small">Product  Features</h4>
		<ul class="screen-one-item ">
			<li class="first">
				<a href="">
					<span class="pic icon10"></span>
					<h3>消费者数据画像</h3>
				</a>
			</li>
			<li>
				<a href="">
					<span class="pic icon11"></span>
					<h3>消费者热力图</h3>
				</a>
			</li>
			<li>
				<a href="">
					<span class="pic icon12"></span>
					<h3>资金更安全</h3>
				</a>
			</li>
			<li>
				<a href="">
					<span class="pic icon13"></span>
					<h3>精准定位2.0系统</h3>
				</a>
			</li>
			<li class="last">
				<a href="">
					<span class="pic icon14"></span>
					<h3>促销礼品库资源</h3>
				</a>
			</li>
		</ul>
	</div>
	<!-- nabao 核心优势 -->
	<div class="qudaoinfo qudao-one">
      <div class="base-box">
         <h3>加盟流程</h3>
         <h4>Joining Process</h4>
         <p class="one">填写资料</p>
         <p class="two">提交申请</p>
         <p class="three">完成</p>
      </div>
	</div>

   <div class="qudaoinfo qudao-two">
      <div class="base-box">
         <h3>加盟支持</h3>
         <h4>Joining Support</h4>
         <ul class="item">
            <li>
               <span class="pic icon20"></span>
               <div class="txt">
                  <b>业务协助</b>
                  <span>协助代理伙伴的会议营销、产品咨询等业务工作；
提供用户资源，代理伙伴可自行向用户推荐代运营、
营销技巧培训等其他服务。</span>
               </div>
            </li>
            <li class="no">
               <span class="pic icon21"></span>
               <div class="txt">
                  <b>技术支持</b>
                  <span>安排专人跟进代理伙伴，优先处理代理商提出
的非常规需求，提供纳宝产品关联的技术支持。</span>
               </div>
            </li>
            <li>
               <span class="pic icon22"></span>
               <div class="txt">
                  <b>政策保护</b>
                  <span>公司总部对代理伙伴所在的地区不参与直销，
所有业务咨询全部交由代理伙伴跟进，充分
保护代理利益。</span>
               </div>
            </li>
            <li class="no">
               <span class="pic icon23"></span>
               <div class="txt">
                  <b>全方位培训</b>
                  <span>免费进行产品使用的基础培训；免费提供培训
PPT、销售话术、技巧等文档与实操培训。</span>
               </div>
            </li>
            <li>
               <span class="pic icon24"></span>
               <div class="txt">
                  <b>咨询服务</b>
                  <span>7*24 小时咨询通道，随时响应您的咨询。</span>
               </div>
            </li>
            <li class="no">
               <span class="pic icon25"></span>
               <div class="txt">
                  <b>物料提供</b>
                  <span>提供产品手册、单张、彩页、展架（易拉宝）
等展示物料设计文件；协助策划制作会议营销
物料以及讲演 PPT 等。</span>
               </div>
            </li>
         </ul>
      </div>
   </div>

   <div class="jiameng">
      <div class="base-box qudaoinfo">
         <h3>加盟分类</h3>
         <h4>Joining Classify</h4>
      </div>
      <div class="base-box">
         <dl>
            <dt><i class="pic icon30"></i></dt>
            <dd class="tit"><b>渠道加盟</b></dd>
            <dd>为第三方渠道服务商提供更强大的业务支
持，帮助其直接对接快消品生产商及上下
游服务企业，形成一整套商业营销闭环。</dd>
            <dd><a href="javascript:;" class="clickbtn">立即申请</a></dd>
         </dl>
         <dl>
            <dt><i class="pic icon31"></i></dt>
            <dd class="tit"><b>上下游企业加盟</b></dd>
            <dd>为快消品行业的上下游服务企业提供
更完善的业务服务系统，帮助其实现
与快消品生厂商更稳定的业务绑定。</dd>
            <dd><a href="javascript:;" class="clickbtn">立即申请</a></dd>
         </dl>
         <dl>
            <dt><i class="pic icon30"></i></dt>
            <dd class="tit"><b>渠道加盟</b></dd>
            <dd>一种全新的加盟方式，利用个人资源
直接、对接快消品生厂商，纳宝科技
为其提供软件服务支持。</dd>
            <dd><a href="javascript:;" class="clickbtn">立即申请</a></dd>
         </dl>
      </div>
   </div>

	<div class="register" id="anchor" style="display: none">
		<div class="base-box">
			<h3>纳宝科技渠道加盟，共筑辉煌明天</h3>
			<form>
				<p><input type="text" name="" placeholder="您的姓名" value=""></p>
				<p><input type="text" name="" placeholder="您的电话" value=""></p>
				<p><input type="text" name="" placeholder="公司名称" value=""></p>
				<p><input type="text" name="" placeholder="公司业务" value=""></p>
				<p><textarea name="name" rows="8" cols="80" placeholder="合作意向"></textarea></p>
				<p><a href="#" class="btn">立即注册</a></p>
			</form>
		</div>
	</div>

	<!-- naba copyRight footer -->
	<div class="footer">
		<div class="base-box">
         <div class="footer-hd">
            <div class="base-box-left">
               <div class="footer-telphone">
      				<span class="span1">
                          全国统一热线电话
                          <font>400-800-9888</font>
                      </span>
      				<span>
                          24小时合作加盟热线
                          <font>152-2899-4698</font>
                      </span>
      			</div>
      			<ul class="footer-navbar">
      				<li><a href="">首页</a>|</li>
      				<li><a href="">二维码产品与服务</a>|</li>
      				<li><a href="">核心优势</a>|</li>
      				<li><a href="">实时销量</a>|</li>
      				<li><a href="">客户案例</a>|</li>
      				<li><a href="">合作加盟</a>|</li>
      				<li><a href="">资料库</a>|</li>
      				<li><a href="">关于纳宝</a></li>
      			</ul>
      			<div class="footer-address">公司地址：成都市高新区天府大道天府三街新希望国际C座20楼</div>
            </div>
            <ul class="base-box-right">
               <li>
                  <img src="images/weiboqrcode.png" alt=""><br>纳宝官方微博
               </li>
               <li>
                  <img src="images/weixinqrcode.png" alt=""><br>官方微信公众号
               </li>
            </ul>
         </div>
			<div class="footer-copyright">
				川ICP备12005794号 | 川ICP证130311号 | 川公网安备110102001221号 2015-2018 Nabao.me<br>服务条款 隐私政策
			</div>
		</div>
	</div>
	<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/slides.min.js"></script>
	<script src="js/common.min.js"></script>
</body>

</html>
