<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<title>纳宝科技官网2.0 demo测试版</title>
	<link rel="stylesheet" href="css/app.css">
</head>

<body>
	<!-- nabao header -->
	<div class="header">
		<% include compontens/headernavbar.ejs %>
	</div>
	<!-- nabao banner scroll -->
	<div class="nabao-scroll index-scroll">
		<img src="images/safety.png" alt="" width="100%">
	</div>
   <!-- content -->
   <div class="base-content">
      <div class="base-box">
         <div class="base-cot-content">
            <div class="cot-hd">
               <h3>服务器安全</h3>
               <img src="images/p20.png" alt="">
               <p>阿里云基于大数据情报保障服务器安全，通过实时监控和批量修复漏洞、深度查杀网站后门、审计登陆日志、定期的安全基线巡检，
               维护纳宝科技的服务器环境纯净，<font>避免服务器数据泄漏</font>，守护住最后一道防线。</p>
            </div>
         </div>
         <div class="base-cot-navbar">
            <span data-name="togglebar">服务器安全<i></i></span>
            <div class="togglebar">
               <a href="" class="odd active">服务器安全</a>
               <a href="" class="even">网络安全</a>
               <a href="" class="odd">业务安全</a>
               <a href="" class="even">高性能服务器</a>
            </div>
            <span data-name="togglebar">数据安全2.0<i></i></span>
            <div class="togglebar">
               <a href="" class="odd">纳宝云盾</a>
               <a href="" class="even">代码加密</a>
               <a href="" class="odd">二维码双重加密</a>
               <a href="" class="even">帐户安全加密</a>
            </div>
            <a href="#">资金安全2.0</a>
            <a href="#">大数据分析</a>
            <a href="#">系统升级播报 </a>
         </div>
      </div>
   </div>
	<!-- naba copyRight footer -->
	<div class="footer">
		<div class="base-box">
         <div class="footer-hd">
            <div class="base-box-left">
               <div class="footer-telphone">
      				<span class="span1">
                          全国统一热线电话
                          <font>400-800-9888</font>
                      </span>
      				<span>
                          24小时合作加盟热线
                          <font>152-2899-4698</font>
                      </span>
      			</div>
      			<ul class="footer-navbar">
      				<li><a href="">首页</a>|</li>
      				<li><a href="">二维码产品与服务</a>|</li>
      				<li><a href="">核心优势</a>|</li>
      				<li><a href="">实时销量</a>|</li>
      				<li><a href="">客户案例</a>|</li>
      				<li><a href="">合作加盟</a>|</li>
      				<li><a href="">资料库</a>|</li>
      				<li><a href="">关于纳宝</a></li>
      			</ul>
      			<div class="footer-address">公司地址：成都市高新区天府大道天府三街新希望国际C座20楼</div>
            </div>
            <ul class="base-box-right">
               <li>
                  <img src="images/weiboqrcode.png" alt=""><br>纳宝官方微博
               </li>
               <li>
                  <img src="images/weixinqrcode.png" alt=""><br>官方微信公众号
               </li>
            </ul>
         </div>
			<div class="footer-copyright">
				川ICP备12005794号 | 川ICP证130311号 | 川公网安备110102001221号 2015-2018 Nabao.me<br>服务条款 隐私政策
			</div>
		</div>
	</div>
	<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/slides.min.js"></script>
	<script src="js/common.min.js"></script>
</body>

</html>
