<div class="footer">
    <div class="footer-telphone">
        <span>
            <small>全国统一热线电话</small>
            <font>028-85121928</font>
        </span>
        <span>
            <small>24小时服务热线</small>
            <font>152-2899-4698</font>
        </span>
    </div>
    <ul class="footer-nav">
        <li><a href="index.html" class="is-active">首页</a>
        </li><li><a href="productAndservice.html">产品与服务</a>
        </li><li><a href="case.html">客户案例</a>
        </li><li><a href="calculator.html">销量提升计算器</a>
        </li><li><a href="Process.html">合作流程</a>
        </li><li><a href="dataBank.html">资料库</a>
        </li><li><a href="about.html">关于我们</a></li>
    </ul>
    <p class="footer-address">公司地址：成都市高新区天府大道天府三街新希望国际C座20楼</p>
    <div class="footer-info">
        川ICP备12005794号 | 川ICP证130311号 | 川公网安备110102001221号 2015-2018  Nabao.me<br>服务条款    隐私政策
    </div>
</div>
<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
<script src="js/indexCommon.min.js"></script>
