<div class="header index-header">
    <div class="header-layout">
        <div class="header-logo">纳宝云策</div>
        <div class="header-navbar">
            <a href="index.html" class="is-active">首页</a>
            <a href="productAndservice.html">产品与服务</a>
            <a href="csse.html">客户案例</a>
            <a href="calculator.html">销量提升计算器</a>
            <a href="Process.html">合作流程</a>
            <a href="dataBank.html">资料库</a>
            <a href="about.html">关于我们</a>
        </div>
        <a href="http://www.nabao.me" class="business-login"><i class="iconfont">&#xe606;</i>企业登录</a>
    </div>
</div>
