@charset 'utf-8';

.col-lg {
	position: relative;
	float: left;
	display: block;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

@for $i from 1 through 12 {
	.col-lg-#{$i} {
        width: $i/12*100 + %;
	}
}
//
// @media (min-width: 1200px) {
// 	@for $i from 1 through 12 {
// 		.col-lg-#{$i} {
// 			float: left;
// 		}
// 	}
// }
