<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>饭扫光</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta name="viewport" content="width=device-width,user-scalable=yes,minimum-scale=1.0,maximum-scale=1" />
	<link rel="stylesheet" href="css/common.min.css">
	<link rel="stylesheet" href="css/app.min.css">
	<style>
		html {
			background-image: none;
			background-color: #e9e9e9;
		}
	</style>
</head>

<body ontouchstart=''>
	<section class="webview">
		<ul class="product-item">
			<li>
				<div class="product-item-img">
					<img src="images/p1.jpg" alt="">
				</div>
				<div class="product-item-txt">
					<h3>野香菌</h3>
					<p>二荆条的热辣，吻醒野香菌 沉睡的鲜香。
						<br> 将贡菜、二荆条辣椒、秘制泡菜 炒制成泡菜风味“营养基”激活 野香菌的独有鲜香。
					</p>
				</div>
			</li>
			<li>
				<div class="product-item-img">
					<img src="images/p2.jpg" alt="">
				</div>
				<div class="product-item-txt">
					<h3>野竹笋</h3>
					<p>瓶中的香辣爽脆，等待被你 释放。
						<br> 春笋的青春与坚韧被贡菜、二荆 条的魔力激发，爆炒过后的滋味， 蓄满整瓶力量。
					</p>
				</div>
			</li>
			<li>
				<div class="product-item-img">
					<img src="images/p4.jpg" alt="">
				</div>
				<div class="product-item-txt">
					<h3>爆炒金针菇</h3>
					<p>触如丝滑，嚼有韧性，火爆 的不只是内心。
						<br> 温柔纤弱的气质，搭配火爆热辣 的情绪，这就是处味的人生，力 量即刻迸发。
					</p>
				</div>
			</li>
			<li>
				<div class="product-item-img">
					<img src="images/p3.jpg" alt="">
				</div>
				<div class="product-item-txt">
					<h3>麻辣什锦</h3>
					<p>汇聚百味，只为舌尖上的美 好。<br> 调和辣椒、泡青菜、豇豆、榨菜 等诸多口味，融合百味，却各有 滋味。
					</p>
				</div>
			</li>
		</ul>
	</section>
</body>

</html>
